body
{
    margin: 0px;
    background-color: bisque
}

header
{
    text-align: center;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 30px;
    font-style: bold;
    font-weight: normal;
    font-display: grid;
    color: rgba(255, 0, 0,0.6);
    font: optional;
    font-style: italic;
    


}

#app
{
    display : grid;
    grid-template-columns: repeat(auto-fill,200px);
    padding: 24px;
    gap: 24px;
}

.notes
{
    height: 200px;
    box-sizing: border-box;
    padding:16px;
    border:none;
    border-radius:10px;
    box-shadow: rgba(0,0,0,0.7);
    resize: none;
    font-family: 'Times New Roman', Times, serif;
    font-size:12px;
}

.add-note
{
    height: 200px;
    border: none;
    background:rgba(184, 28, 28, 0.2);
    border-radius:10px;
    font-size: 130px;
    color:rgba(184, 28, 28, 0.5);
    cursor : pointer;
    transition: background 0.2s;
}

.add-note:hover
{
    background: rgba(0, 0,0, 0.2)
}